NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=work_orders_db
DB_USER=root
DB_PASSWORD=secret
DB_DIALECT=mysql

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1h

LOGIN_RATE_LIMIT_WINDOW_MS=900000
LOGIN_RATE_LIMIT_MAX=5

ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@taller.com
ADMIN_PASSWORD=Admin12345!
